.toolbar{
    -fx-pref-height: 50px;
    -fx-background-color: #0d47a1;
}

.side-bar{
    -fx-background-color: #FFF59D;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.3), 7.0, 0.0, 0.0,0.0);
}

.side-buttons{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-alignment: CENTER_LEFT;
}